__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.dat
*.sqlite
*.bak
*.swp
*.swo
*.swn
*.tmp
*.temp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.coverage
.coverage.*
.cache/
.tox/
.nox/
.pytest_cache/
htmlcov/
.coverage
.mypy_cache/
.pyre/
.pytype/
.pyright/